<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.lucky.wsy.wzx">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--对话框flyco-->
        <activity
            android:name="com.flyco.dialogsamples.ui.DialogHomeActivity"
            android:screenOrientation="portrait"/>

        <!--时间轴-->
        <activity
            android:name="com.timeline.TimeLineActivity"
            android:screenOrientation="portrait"/>

        <!--对话框SweetAlert-->
        <activity
            android:name="com.dialog.SweetActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>